@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif;
}
body{

    height: 100vh;
    width: 100%;
    background: #000;
  
}
.background{

    background: url(https://static.vecteezy.com/ti/fotos-gratis/t1/38805023-ai-gerado-cegueira-lei-para-justica-advogado-gratis-foto.jpeg) no-repeat center;
    background-position: center;
    background-size:cover ;
    height: 100vh;
    width: 100%;
    filter: blur(10px);
}

.header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 13%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.container{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 75%;
    height: 550px;
    margin-top: 20px;
    background: url(https://static.vecteezy.com/ti/fotos-gratis/t1/38805023-ai-gerado-cegueira-lei-para-justica-advogado-gratis-foto.jpeg) no-repeat;
    background-position: center;
    background-size:cover ;
    border-radius: 20px;
    overflow: hidden;
    
    
}
.item{

    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    color: #fff;
    background: transparent;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.item .logo{

    color: #fff;
    font-size: 30px;

}

.text-item h2{

    font-size: 40px;
    line-height: 1;
}

.text-item p{
    font-size: 16px;
    margin: 20px 0;
}

.rede-social a i{
    color: #fff;
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
    transition: .5s ease;
}

.rede-social a:hover i{
    transform: scale(1.9);

}

.container .secao-login{

    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 58%);
    height: 100%;
    color: #fff;
    backdrop-filter: blur(10px);
}

.secao-login .form-box{

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
.secao-login .form-box.register{

    transform: translateX(430px);
    transition: transform .6s ease;
    transition-delay: 0s;
}
.secao-login.active .form-box.register{

    transform: translateX(0px);
    transition-delay: .7s;
}

.secao-login .form-box.login{

    transform: translateX(0px);
    transition: transform .6s ease;
    transition-delay: 0.7s;
}

.secao-login.active .form-box.login{

    transform: translateX(430px);
    transition-delay: 0s;
}

.secao-login .form-box h2{

    text-align: center;
    font-size: 25px;
}

.form-box .entrada-box{

    width: 340px;
    height: 50px;
    border-bottom: 2px solid#fff;
    margin: 30px 0;
    position: relative;
}

.entrada-box input{

    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-right: 28px;


}

.entrada-box label{

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600px;
    pointer-events: none;
    transition: .5s ease;

}

.entrada-box .icon{

    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.entrada-box input:focus~ label,
.entrada-box input:valid~ label{
    top: -5px;
}
.lembrar-senha{

    font-size: 14px;
    font-weight: 500;
    margin: -15px 0 15px ;
    display: flex;
    justify-content: space-between;
}
.lembrar-senha label input{

    accent-color: #fff;
    margin-right: 3px;

}
.lembrar-senha a{

    color: #fff;
    text-decoration: none;
}
.lembrar-senha a:hover{

    text-decoration: underline;
}
.botao{

    background: #fff;
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #f72d7a;
    font-size: 16px;
    color: #fff;
    box-shadow: rgba(0,0,0,0.4);

}

.botao:hover{

    background-color: aqua;
    color: black;
    transform: scale(1.1);
}

.registro-link{

    text-decoration: underline;
}

.criar-conta{

    font-size: 14.5px;
    text-align: center;
    margin: 25px;
}
.criar-conta p a{

    color: #fff;
    font-weight: 600px;
    text-decoration: none;
}
.criar-conta p a:hover{

    text-decoration: underline;
}
